@import "base";

html, body {
  position: relative;
	width: 100%;
	height: 100%;
  background-image: url("../images/background.jpg") !important;
  background-attachment: fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
}

a, a:hover,
button, button:hover {
  text-decoration: none !important;
  outline: none !important;
}

.navbar, 
.navbar-default,
.navbar-fixed-top {
  z-index: 10 !important;
  background: darken($gun-metal, 7%) !important;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border: 0 !important;
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;

  .navbar-brand {
    position: absolute;
    margin-left: 0.5em !important;
    display: none;
    font-family: $font-stack;
    font-size: 2em;
    text-transform: uppercase;
    color: white !important;

    #caption {
      font-size: 0.5em; 
    }
  }

  /* Allows us to center the nav links */
  .nav, 
  .nav li {
    float: none !important;
    display: inline-block !important;
    vertical-align: top !important;
  }

  .inner {
    text-align: center !important;
  }

  /* Power arrow */
  .power-arrow {
    z-index: 2;
    position: absolute;
    -webkit-transform: rotate(135deg) translateY(-1em);
       -moz-transform: rotate(135deg) translateY(-1em);
            transform: rotate(135deg) translateY(-1em);
    -webkit-transition: 0.2s ease-in-out;
       -moz-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out;
  }
  .row1, .row2, .row3 {
    margin-bottom: -0.8em;
  }

  .row1 div,
  .row2 div,
  .row3 div {
    display: inline-block;
    width: 0.35em;
    height: 0.35em;
    background: $primary-color;
    -webkit-animation: green-blue 1s ease-in-out infinite;
       -moz-animation: green-blue 1s ease-in-out infinite;
            animation: green-blue 1s ease-in-out infinite;
  }

  @-webkit-keyframes green-blue {
    0% { background: darken($green-highlight, 5%); }
    50% { background: darken($blue-glow, 10%); }
    100% { background: darken($green-highlight, 5%); }
  }
  @-moz-keyframes green-blue {
    0% { background: darken($green-highlight, 5%); }
    50% { background: darken($blue-glow, 10%); }
    100% { background: darken($green-highlight, 5%); }
  }
  @keyframes green-blue {
    0% { background: darken($green-highlight, 5%); }
    50% { background: darken($blue-glow, 10%); }
    100% { background: darken($green-highlight, 5%); }
  }

  ul {
    position: relative;
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
    width: 100%;
    font-family: $font-stack;
    text-align: center !important;
    text-transform: uppercase;
  }
  
  li {
    overflow: hidden;
    margin-left: 0.75em;
    margin-right: 0.75em;
  }

  li a {
    position: relative;
    padding-top: 0.35em !important;
    padding-bottom: 0.35em !important;
    padding-left: 0.2em !important;
    padding-right: 0.1em !important;
    width: 100%;
    color: $primary-color !important;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.1em;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      -webkit-transform: scaleY(0);
         -moz-transform: scaleY(0);
              transform: scaleY(0);
      width: 100%;
      border-top: 0.15em solid lighten($green-highlight, 20%);
      content: "";
      -webkit-transition: 0.3s ease-in-out;
         -moz-transition: 0.3s ease-in-out;
              transition: 0.3s ease-in-out;
    }

    &::before {
      @extend ::after;
      top: 0;
      right: 0;
    }

    &:hover::after, 
    &:active::after,
    &:hover::before,
    &:active::before {
      -webkit-transform: scaleY(1);
         -moz-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-animation: key-blink 0.2s 0.5s infinite;
         -moz-animation: key-blink 0.2s 0.5s infinite;
              animation: key-blink 0.2s 0.5s infinite;
    }

  }

  .navbar-toggle {
    position: relative !important;
    z-index: 2 !important;
    border: 0 !important;
    background: #D5D5D5;
    outline: none;
    text-decoration: none;
  }

  .collapse,
  .navbar-collapse { border: 0 !important; }
}

@-webkit-keyframes key-blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes key-blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes key-blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

//Color the navbar on scroll down (functions.js)
.js-nav-shrink {
  padding-top: 0.65em !important;
  padding-bottom: 0.65em !important;

  .power-arrow {
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.content.container-fluid {
  position: relative;
  padding-top: 8em;
  background: rgba(0,0,0,0.3);
  overflow: hidden;
}


#header-title {
  position: relative;
  z-index: 1;
  margin: 0;
  margin-top: 0.5em;
  margin-bottom: 1em;
  display: block;
  color: $primary-color;
  font-family: $font-stack;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;

  .js-caption {
    display: none;
    height: 1em;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  &.js-heading-glow {
    -webkit-animation: heading-glow 2.5s;
       -moz-animation: heading-glow 2.5s;
            animation: heading-glow 2.5s;

    small {
      text-shadow: none;
    }
  }
}

@-webkit-keyframes heading-glow {
  0% { 
    text-shadow: none; 
  }
  50% {
    text-shadow: 0 0 2em darken($blue-glow, 5%); 
  }
  100% {
    text-shadow: none;
  }
}
@-moz-keyframes heading-glow {
  0% { 
    text-shadow: none; 
  }
  50% {
    text-shadow: 0 0 2em darken($blue-glow, 5%); 
  }
  100% {
    text-shadow: none;
  }
}
@keyframes heading-glow {
  0% { 
    text-shadow: none; 
  }
  50% {
    text-shadow: 0 0 2em darken($blue-glow, 5%); 
  }
  100% {
    text-shadow: none;
  }
}


#img-hero {
  position: absolute;
  -webkit-transform: translateX(-8em) translateY(-22em) rotate(20deg);
     -moz-transform: translateX(-8em) translateY(-22em) rotate(20deg);
          transform: translateX(-8em) translateY(-22em) rotate(20deg);
  z-index: 0;
}

.page-container {
  position: relative;
  margin-top: 3em;
  overflow: hidden;
}

@import "home";
@import "about_contact_multiplayer";

.push { height: 20em; }

@import "footer";